/* 
Paleta na boi:

Najtemna nijansa(za main container pozadina i container na karticki) - #161b28
Potemna nijansa na sivo(za header i footer) - #283149
Posvetlo siva nijansa(za pozadina na posts containers) - #3a476a
Zeleno-sina nijansa(za hover na header i footer elementi) - #00CFC8
Celosno bela nijansa(za tekstovi, borderi so 1px i slicno) - #ffffff
Celosno svetlo siva nijansa - #03fff6

*/

/* Body css, deafult css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", "Lato", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", "Lato", sans-serif;
}

/* Main container css */

#main {
  background-color: #161b28;
}

.main-container {
  display: grid;
  place-items: center;
  gap: 30px;
}

.main-containers {
  display: grid;
  grid-template-columns: 80% 20%;
  min-height: 100vh;
}

/* Proggres bar on top of body*/
.proggres-bar {
  position: fixed;
  width: 100%;
  height: 1px;
}

.filled {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, #ffffff, #03fff6);
}
/* Side (reklami) css container */

.side-container {
  margin-top: 80px;
  position: fixed;
  right: 0%;
  padding: 0px 10px;
}

/* Trending posts container css */

.trending-posts-container {
  width: 800px;
  height: max-content;
  background-color: #161b28;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* Css za trending posts headrot */

.trending-heading {
  width: 235px;
  background-color: #3a476a;
  border-radius: 10px;
  margin-bottom: 10px;
  color: #ffffff;
  font-size: 28px;
  padding: 5px 10px;
}

.trending-heading i {
  padding-left: 5px;
}

/* Main posts container css */

.main-posts-container {
  width: 800px;
  min-height: 600px;
  background-color: #161b28;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 20px;
}

/* Load more button */

.load-more-button-div {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.load-more-button {
  width: 200px;
  height: 40px;
  border: 1px solid white;
  border-radius: 10px;
  background-color: #3a476a;
  color: #ffffff;
  font-size: 22px;
  padding: 5px;
  cursor: pointer;
  letter-spacing: 1px;
  text-transform: inherit;
  font-weight: bold;
}

.load-more-button:hover {
  background-color: #00cfc8;
  color: #ffffff;
}

/* Css za main posts headrot */

.heading-posts-div {
  width: 800px;
  margin: 0;
  padding: 0;
}

.main-posts-heading {
  width: 235px;
  background-color: #3a476a;
  border-radius: 10px;
  color: #ffffff;
  font-size: 28px;
  padding: 5px 10px;
}

.main-posts-heading i {
  padding-left: 5px;
}

/* CSS za blog kartickite*/
.post-container {
  display: flex;
  justify-content: center;
  height: 250px;
}

.blog-post {
  width: 100%;
  height: 250px;
  padding: 15px 15px;
  background-color: #283149;
  display: grid;
  grid-template-columns: 30% 70%;
  border-radius: 10px;
}

.blog-post_title {
  font-size: 20px;
  color: #ffffff;
  display: flex;
  justify-content: left;
  padding-left: 10px;
  padding-bottom: 5px;
}

.blog-post_text {
  font-size: 15px;
  color: #ffffff;
  padding: 10px;
  height: 120px;
}

.blog-post_img img {
  width: 100%;
  height: 95%;
  border-radius: 10px;
  padding: 0;
}

.blog-post_button_and_date {
  display: flex;
  justify-content: space-between;
  padding: 0px;
}

.blog-post_date {
  padding: 10px;
  margin-left: 14px;
  margin-top: 10px;
  color: #ffffff;
}

.post-rating {
  display: flex;
  justify-content: flex-end;
}

.blog-post_button {
  padding: 10px;
  margin-left: 14px;
  margin-top: 10px;
  letter-spacing: 1px;
  text-transform: inherit;
  font-weight: bold;
  font-size: 11px;
  background-color: #3a476a;
  color: #ffffff;
  border-radius: 10px;
  border: 1px solid #ffffff;
  cursor: pointer;
}

.blog-post_button:hover {
  background-color: #00cfc8;
}

/* Show more func */

.main-posts-container div:nth-child(5) ~ div {
  display: none;
}

.loaded {
  display: none;
}
