* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Roboto, sans-serif;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.landingMain {
  background-image: url(../assets/LandingPageImg/3609060.jpg);
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-content: left;
  align-items: center;
  padding: 20px;
}
.landingTechDiv {
  display: flex;
  gap: 20px;
}
.landingTechDiv img {
  width: 200px;
}
div .first {
  font-size: 100px;
  padding-top: 42px;
  color: #00d7e8;
}

.landingTextDiv {
  display: grid;
  grid-template-rows: 1fr max-content;
  gap: 50px;
  font-size: 70px;
  justify-items: center;
}

p {
  display: grid;
  justify-items: center;
  align-items: center;

  color: #00d7e8;
}

.landing-page-button {
  justify-self: center;
  padding-top: 30px;
  font-family: Roboto, sans-serif;
  width: 320px;
  height: 50px;
  font-weight: 50px;
  font-size: 30px;
  color: #fff;
  background: linear-gradient(90deg, #0066cc 0%, #c500cc 100%);
  padding: 10px 30px;
  border: 2px solid #0066cc;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  border-radius: 50px;
  transition: 1000ms;
  transform: translateY(0);
  display: flex;
  justify-items: center;
  align-items: center;
  cursor: pointer;
}
.landing-page-button:hover {
  transition: 1000ms;
  padding: 10px 50px;
  transform: translateY(-0px);
  background: linear-gradient(90deg, #0066cc 0%, #c500cc 100%);
  color: #00d7e8;
  border: solid 2px #0066cc;
}
@media screen and (max-width: 768px) {
  .landingMain {
    padding-top: 50px;
  }
  .landingTechDiv {
    display: flex;
    padding-top: 50px;
    gap: 0px;
  }
  .landingTechDiv img {
    width: 220px;
    padding: 35px;
  }
  div .first {
    font-size: 70px;
    padding-top: 72px;
  }
  .landingTextDiv {
    font-size: 50px;
  }
  p {
    justify-items: left;
    align-items: center;
  }
  .btn {
    width: 280px;
    height: 40px;
  }
}

@media screen and (max-width: 440px) {
  .landingMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    padding: 0;
  }

  .landingTextDiv {
    height: 100px;
  }

  .landingTechDiv img {
    width: 200px;
    padding-bottom: 100px;
    padding-left: 45px;
  }

  .landingTechDiv {
    width: 200px;
  }

  div .first {
    display: none;
  }

  .output {
    text-align: center;
    padding-bottom: 100px;
    font-size: 42px;
  }

  .landing-page-button {
    display: flex;
    justify-content: center;
  }
}
