@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  background-color: #283149;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.form-box {
  position: relative;
  width: 400px;
  height: 610px;
  border: 2px solid rgba(255, 255, 2550, 5);
  border-radius: 20px;
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-box h2 {
  color: #ffffff;
  text-align: center;
  font-size: 32px;
}

.form-box .input-box {
  position: relative;
  margin: 30px 0;
  width: 310px;
  border-bottom: 2px solid #ffffff;
}

.form-box .input-box input {
  width: 100%;
  height: 45px;
  background: transparent;
  border: none;
  outline: none;
  padding: 0 20px 0 5px;
  color: #ffffff;
  font-size: 16px;
}

i {
  position: absolute;
  color: #ffffff;
  top: 13px;
  right: 0;
}

input::placeholder {
  color: #ffffff;
}

.btn {
  color: #ffffff;
  background: #161b28;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  outline: none;
  border: none;
  font-size: 17px;
  cursor: pointer;
  box-shadow: 3px 0 10px rgba(0, 0, 0, 0.5);
}

.group {
  display: flex;
  justify-content: space-between;
}

.group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.group span {
  margin-right: 5px;
  color: white;
}

.group span a {
  color: #00cfc8;
  position: relative;
  text-decoration: none;
  font-weight: 500px;
}

.group a:focus {
  text-decoration: underline;
}

#result {
  color: red;
  font-weight: 600;
  position: relative;
  top: 25px;
}

.registered {
  width: 400px;
  background-color: #ffffff;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.4s, top 0.4s;
  visibility: hidden;
  text-align: center;
  padding: 0 30px 30px;
  height: 330px;
  color: #000;
}

.registered ion-icon {
  color: green;
  font-size: 50px;
}

.registered button {
  width: 100%;
  background: #00ff00;
  padding: 10px 0;
  margin-top: 50px;
  border: none;
  outline: none;
  font-size: 18px;
  color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
}

.registered a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 2px;
}

.open-slide {
  top: 50%;
  transform: translate(-50% -50%) scale(1);
  visibility: visible;
}

@media (max-width: 600px) {
  .input-box input[type="text"],
  .input-box input[type="email"],
  .input-box input[type="password"] {
    width: 100%;
  }
}
